<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ZanziWeb · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/plugins/fontawesome-free/css/all.min.css") %>">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/plugins/overlayScrollbars/css/OverlayScrollbars.min.css") %>">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/dist/css/adminlte.min.css")%>">
  <!-- Google Font: Source Sans Pro -->
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <main role="main">

      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="<%= Routes.static_path(@conn,"/plugins/jquery/jquery.min.js") %>"></script>
<!-- Bootstrap -->
<script src="<%= Routes.static_path(@conn,"/plugins/bootstrap/js/bootstrap.bundle.min.js") %>"></script>
<!-- overlayScrollbars -->
<script src="<%= Routes.static_path(@conn,"/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js") %>"></script>
<!-- AdminLTE App -->
<script src="<%= Routes.static_path(@conn,"/dist/js/adminlte.js") %>"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="<%= Routes.static_path(@conn,"/dist/js/demo.js") %>"></script>

<!-- PAGE -->
<!-- jQuery Mapael -->
<script src="<%= Routes.static_path(@conn,"/plugins/jquery-mousewheel/jquery.mousewheel.js") %>"></script>
<script src="<%= Routes.static_path(@conn,"/plugins/raphael/raphael.min.js") %>"></script>
<!-- ChartJS -->
<script src="<%= Routes.static_path(@conn,"/plugins/chart.js/Chart.min.js") %>"></script>

<!-- PAGE SCRIPTS -->
<script src="<%= Routes.static_path(@conn,"/dist/js/pages/dashboard2.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
